body {
  background: url("https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg?t=st=1723792215~exp=1723795815~hmac=d66a566909604bb6a1747b51a4f860974bb48a5c9371b35690a7c4d2dee290f7&w=1800");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 8px;
  background-color: white;
}