body {
  background: url("./img/weather-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#root {
  height: 100%;
  @media screen and (max-width:490px) {
    display:flex;
    align-items:center;
  }
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  @media screen and (max-width: 490px) {
    height: auto;
  }
}

.weather-container {
  max-width: 350px;
  width: 100%;
}

.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 8px;
  background-color: white;
  width: 100%;
}

.loading-box {
  display:flex;
  justify-content: center;
}